NODE_ENV=development
PORT=3000

# Redis (cache dos dados e fila de atualização)
REDIS_HOST=localhost
REDIS_PORT=6379

# Tempo (em horas) para considerar o cache de pontuação / ranking desatualizado
TOLERANCE_TIME_HOURS=1
TOLERANCE_TIME_HOURS_RANKING=24
